<%- include('inc/header', {title: "Formulaire d'émargement"}); %>

<body>
  <div class="container">
    <form id="emarge-form" class="row g-3" method="post" action="/process">
      <input type="hidden" class="form-control" id="data" name="data" value="<%= data %>" readonly>
      <div class="col-12">
        <h1><%= title %></h1>
      </div>
      <div class="col-12">
        Date de l'évènement : <%= date %>
      </div>
      <div class="col-md-6">
        <label for="nom-input" class="form-label">Nom</label>
        <input type="text" class="form-control" id="nom-input" aria-describedby="nom-help" name="nom" required>
      </div>
      <div class="col-md-6">
        <label for="prenom-input" class="form-label">Prénom</label>
        <input type="text" class="form-control" id="prenom-input" aria-describedby="prenom-help" name="prenom" required>
      </div>
      <% if (sessions) { %>
      <div class="col-12">
        Cochez les sessions auxquelles vous avez participé
      </div>
      <% for(var i = 0; i < sessions.length; i++) { %>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="sessions[]" value="<%= sessions[i] %>"
          id="sessions-checkboxes">
        <label class="form-check-label" for="sessions-checkboxes">
          <%= sessions[i] %>
        </label>
      </div>
      <% } %>
      <% } %>
      <div class="col-md-6">
        <div id="alert-signature" class="alert alert-danger d-none" role="alert">
          La signature est obligatoire
        </div>
        <label for="sig-canvas" class="form-label">Signature</label>
        <canvas id="sig-canvas" class="form-control">
          Veuillez utiliser un navigateur plus récent pour ajouter votre signature
        </canvas>
        <input type="hidden" class="form-control" id="signature-input" name="signature" required>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary" id="sig-submitBtn">Valider</button>
        <button type="button" class="btn btn-secondary" id="sig-clearBtn">Effacer la signature</button>
      </div>
    </form>
    <p id="data" class="text-center m-3"></p>
  </div>

  <script src="/javascripts/emarge-forms.js"></script>
  <%- include('inc/footer'); %>