<%- include('inc/header', {title: "Erreur"}); %>
</head>

<body>

    <div class="alert alert-danger" role="alert"><%= message %></div>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>

    <%- include('inc/footer'); %>