<%- include('inc/header', {title: "Générer un lien"}); %>
</head>

<body>
  <div class="container-fluid">
    <form id="generate-link-form">
      <div class="mb-3">
        <label for="title-input" class="form-label">Intitulé de l'évènement</label>
        <input type="text" class="form-control" id="title-input" aria-describedby="title-help" name="title" required>
        <label for="sessions-input" class="form-label">Sessions</label>
        <button id="btn-add-session" type="button" class="btn btn-success" aria-label="Ajouter">+</button>
        <div id="input-group-sessions"></div>
        <div id="sessions-help" class="form-text">Ajouter ou retirer une entrée avec les boutons + et -</div>
        <label for="date-input" class="form-label">Date de l'évènement</label>
        <input type="date" class="form-control" id="date-input" aria-describedby="date-help" name="date" required>
        <label for="end-date-input" class="form-label">Date limite de validité du formulaire</label>
        <input type="date" class="form-control" id="end-date-input" name="enddate">
      </div>
      <button type="submit" class="btn btn-primary">Générer un lien</button>
    </form>
    <div class="d-flex my-2">
        <textarea id="link" class="form-control" readonly>Votre lien vers le formulaire d'émargement apparaitra ici</textarea>
        <button id="copylink" class="d-none">Copier le lien</button>
    </div>
  </div>
  <div id="display-error"></div>

  <script src="javascripts/getlink.js"></script>
  <%- include('inc/footer'); %>