body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* getlink */
#input-group-sessions > *{
  margin-bottom: 5px;
}

#input-group-sessions button {
  min-width: 3rem;
}

#btn-add-session {
  margin: 5px;
}

/* zone de signature */
#sig-canvas {
  border: 2px dotted #CCCCCC;
  border-radius: 15px;
  cursor: crosshair;
}
